// base/global.scss

/*====================================================================
# 変数
====================================================================*/

// フォント
@function rem($px) {
  @return (calc($px / 16)) * 1rem;
}
$base_font_size: rem(16);
$base_line_height: 1.563;
$letter_spacing: 0.2em;

// コンテンツ幅
$content_width: 1400px;

// カラーコード
$color_primary: #ce3256;
$color_bg: #ebe2d5;
$color_white: #fffdf6;
$color_black: #333;
$color_brown: #6c2e2e;

/*====================================================================
# mixins
====================================================================*/

$breakpoints: (
  "xs": "(max-width:520px)",
  "sm": "(max-width:767px)",
  "md": "(max-width:1024px)",
  "lg": "(max-width:1500px)",
  "xl": "(max-width:2499px)",
  "xxl": "(min-width:2500px)",
) !default;

@mixin mq($breakpoint: xxl) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin mq($breakpoint: xl) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin mq($breakpoint: lg) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin mq($breakpoint: xs) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ブレークポイント

@mixin flexStart {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

@mixin flexEnd {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

@mixin flexRight {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
}

@mixin flexCenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

@mixin spaceBetween {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin spaceAround {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

// letter-spacing
//-----------------------------------------------------------------------------

@mixin spacing_1 {
  letter-spacing: 0.2em;
}

@mixin md_spacing {
  letter-spacing: 0.35em;
}

@mixin sm_spacing {
  letter-spacing: 0.25em;
}

/*====================================================================
# common
====================================================================*/

.util-title {
  color: #4e1c00;
  font-size: rem(80);
  letter-spacing: 0.12em;
  color: $color_brown;
  text-align: center;
  position: relative;
  margin-top: -3%;

  @include mq(lg) {
    font-size: clamp(3rem, 2.3333rem + 2.8444vw, 5rem);
  }

  &__text {
    display: inline-block;

    &:before,
    &:after {
      position: absolute;
      top: 45%;
      width: 2.7rem;
      border-top: 10px double $color_brown;
      content: "";
    }

    &:before {
      left: 33%;
    }

    &:after {
      right: 33%;
    }
  }

  &__head {
    color: #ad4533;
  }
}

.util-title-decoration {
  width: 9.5%;
  margin: auto;
}

.util-footer {
  text-align: center;
}

.util-btn {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  margin: auto;
  padding: 10px 20px;
  color: $color_brown;
  background: transparent;
  @include flexCenter;
  flex-wrap: nowrap;
  border: 1px solid $color_brown;
  border-radius: 30px;
  @include spacing_1;

  &__text {
    @include spacing_1;
  }
  &__arrow {
    width: 23%;
  }
}

/*====================================================================
  br
====================================================================*/

.is-pc {
  display: block;

  @include mq(sm) {
    display: none;
  }
}

.is-sm {
  display: none;

  @include mq(sm) {
    display: block;
  }
}

/*====================================================================
  span
====================================================================*/
.inline-span {
  display: block;
}

/*====================================================================
# animation
====================================================================*/
